{% extends "layout.html" %}

<div style="text-align:center">

	{% block content %}

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <div class="card" style="width: 12rem">
                    <img class="card-img-top" src="{{url_for('static', filename='/assets/images/assignment.png')}}">
                    <div class="card-body">
                        <h5 class="card-title">Assignment Tracker</h5>
                        <p class="card-body">Track your assignments by difficulty, time needed, date due, priority, and more</p>
                        <a href="/assignmenttracker" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--



    Cool card things

    <div class="row">
        <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    -->


	{% endblock content %}

</div>